<!DOCTYPE html>
<html>
<head>
<title>信息</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<link href="../../plugins/summernote/dist/summernote.css" rel="stylesheet">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../libs/ajaxupload.js"></script>
<script src="../../libs/vue-validator.js"></script>
<!-- <script src="../../libs/jquery.validate.js"></script> -->
<!-- <script src="../../libs/messages_zh.js"></script> -->
<script src="../../plugins/summernote/dist/summernote.js"></script>
<script src="../../plugins/summernote/lang/summernote-zh-CN.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<!--<a v-if="hasPermission(':info:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission(':info:update')" class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission(':info:delete')" class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.keyword" @keyup.enter="query" placeholder="输入文章标题或分类进行搜索" />
			</div>
			<a class="btn btn-default" @click="query"><i class="fa fa-search">&nbsp;查询</i></a>
			<a v-if="hasPermission('info:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;添加</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal" >
				<div class="form-group">
					<div class="col-sm-2 control-label">文章标题</div>
				   	<div class="col-sm-10">
				      	<input type="text" id="username" class="form-control" v-model="info.title"   placeholder="标题" />
				    </div>
				</div>
				
				<div class="form-group ">
					<div class="col-sm-2 control-label">文章分类</div>
	                <select class="form-control" v-model="info.categoryId" style="width:67%" >
	                	<option v-for="(category, index) in categoryList" :value="category.categoryId">{{category.title}}</option>
	                </select>
	            </div>
	            
	            
	            <div class="form-group">
				   	<div class="col-sm-2 control-label">文章图片</div>
				   	<div class="col-sm-10">
				   	<img alt="音频图片" v-if="info.cloudUrl == null"  :src="baseURL+'/image/audio.jpg'" id="uploadImg" style="width:50px;"/>
				   	<img alt="音频图片" v-else :src="info.cloudUrl" id="uploadImg" style="width:50px;"/>
				   	<!-- <a  class="btn btn-primary" >删除图片</a> -->
				    </div>
				</div>
				
				<div class="form-group" >
	                <div class="col-sm-2 control-label">文章正文</div>
	                <textarea rows="3" class="summernote form-control"  v-model="info.detail"></textarea>
	            </div>
			
				<div class="form-group">
					<div class="col-sm-2 control-label"></div> 
					<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
					&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
				</div>
			</form>
		<!-- 
							<div class="form-group">
			   	<div class="col-sm-2 control-label">添加时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.createTime" placeholder="添加时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">更新时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.modifyTime" placeholder="更新时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">操作IP(保留0)</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.operIp" placeholder="操作IP(保留0)"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">操作用户ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.operUserId" placeholder="操作用户ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">删除标识</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.delFlag" placeholder="删除标识"/>
			    </div>
			</div>
													<div class="form-group">
			   	<div class="col-sm-2 control-label">类别id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.categoryId" placeholder="类别id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">作者</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.author" placeholder="作者"/>
			    </div>
			</div>
									
									<div class="form-group">
			   	<div class="col-sm-2 control-label">置顶标识</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.flagTop" placeholder="置顶标识"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">查看次数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.viewQty" placeholder="查看次数"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">收藏次数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.favoriteQty" placeholder="收藏次数"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">评论次数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.commentQty" placeholder="评论次数"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">分享次数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.shareQty" placeholder="分享次数"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态类型 : 0未处_无效 1已处_有效</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="info.stateType" placeholder="状态类型 : 0未处_无效 1已处_有效"/>
			    </div>
			</div> -->
							
		
	</div>
</div>

<div id="userCommontLayer" style="display: none;">
    <form >
        <div >
            <table id="jqGridForUserCommont" ></table>
	    	<div id="jqGridPagerForUserCommont"></div>
        </div>
    </form>
</div>

<script src="../../js/modules/info/info.js"></script>
</body>
</html>