<!DOCTYPE html>
<html>
<head>
<title>用户_评论</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<!--<a v-if="hasPermission(':userComment:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission(':userComment:update')" class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission(':userComment:delete')" class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.keyword" @keyup.enter="query" placeholder="输入进行搜索" />
			</div>
			<a class="btn btn-default" @click="query"><i class="fa fa-search">&nbsp;查询</i></a>
			<a v-if="hasPermission('classes:room:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;添加</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
							<div class="form-group">
			   	<div class="col-sm-2 control-label">添加时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.createTime" placeholder="添加时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">更新时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.modifyTime" placeholder="更新时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">操作IP(保留0)</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.operIp" placeholder="操作IP(保留0)"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">操作用户ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.operUserId" placeholder="操作用户ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">删除标识</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.delFlag" placeholder="删除标识"/>
			    </div>
			</div>
													<div class="form-group">
			   	<div class="col-sm-2 control-label">信息id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.infoId" placeholder="信息id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">评论用户id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.userId" placeholder="评论用户id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">消息接收者用户id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.receiver" placeholder="消息接收者用户id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">详情100</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.detail" placeholder="详情100"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">父类id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.parentId" placeholder="父类id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">父类评论</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userComment.parentDetail" placeholder="父类评论"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/sys/userComment.js?v=0.3"></script>
</body>
</html>