<!DOCTYPE html>
<html>
<head>
<title>用户</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<style type="text/css">

</style>
</head>
<body>
<div id="rapp" v-cloak>
	<div>
	<span style="display: inline-block;width: 11%;height: 49px;text-align: center;vertical-align: middle;line-height: 50px;border: 1px solid #ddd;margin-bottom: 3px;">用户总数 : {{totalUser}}/人</span>
	<span style="display: inline-block;width: 11%;height: 49px;text-align: center;vertical-align: middle;line-height: 50px;border: 1px solid #ddd;margin-bottom: 3px;">今日新增 : {{totalUserToday}}/人</span>
	</div>
	<div v-show="showList">
		<div class="grid-btn">
			<!-- <a v-if="hasPermission('user:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a> -->
			<!-- <a v-if="hasPermission('user:update')" class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;查询</a> -->
			<!-- <a v-if="hasPermission('user:delete')" class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a> -->
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.keyword" @keyup.enter="query" placeholder="输入手机号码进行搜索">
			</div>
			<a class="btn btn-default" @click="query"><i class="fa fa-search">&nbsp;查询</i></a>
		</div>
		
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
    	<div style="    display: inline-block;width: 98%;">
			<dl style=" display: inline-block; width: 50%; height: 180px;float: left;">
					<dt style="padding-bottom: 52px;border-right: 1px solid rgb(221, 221, 221);display: inline-block;padding-top: 40px;width: 30%;float: left;text-align: center;">
						<span style="display: inline-block;height: 75%;width: 50%;">
							<img v-if="userDetail.cloudUrl != ''" :src="userDetail.cloudUrl"  style="height: 70%;width: 70%"/>
							<img  v-else src="../../image/head.jpg"  style="height: 80%;width: 80%"/>
						</span>
						<span style="display: inline-block; width: 90%;text-align: center;">{{userDetail.nickname}}</span>
					</dt>
					<dd style=" display: inline-block; height: 50px; float: left; padding-left: 14px; margin-top: 39px; padding-top: 5px; width: 50%;">用户ID<span style="display: inline-block;margin-left: 50px;">{{user.userId}}</span></dd>
					<dd style=" display: inline-block; height: 50px; float: left; padding-left: 14px; padding-top: 5px; width: 50%;">生日<span style="display: inline-block;margin-left: 50px;">{{userDetail.birthday}}</span></dd>
					<dd style=" display: inline-block; height: 50px; float: left; padding-left: 14px; padding-top: 5px; width: 50%;">性别<span v-if="userDetail.gender == 1" style="display: inline-block;margin-left: 50px;">男</span><span v-if="userDetail.gender == 2" style="display: inline-block;margin-left: 50px;">女</span></dd>
				</dl>

				<dl style=" display: inline-block; width: 50%; height: 180px;float: left;">
					<dt style="padding-bottom: 52px; border-right: 1px solid rgb(221, 221, 221);display: inline-block;padding-top: 40px;width: 30%;float: left;text-align: center;">
						<span style="display: inline-block; height: 75%; width: 50%; ">
							<img  v-if="userBaby.cloudUrl != ''" :src="userBaby.cloudUrl"  style="height: 70%;width: 70%"/>
							<img  v-else src="../../image/head.jpg"  style="height: 80%;width: 80%"/>
						</span>
						<span style="display: inline-block; width: 90%;text-align: center;">宝宝</span>
					</dt>
					<dd style=" display: inline-block; height: 50px; float: left; padding-left: 14px; margin-top: 39px; padding-top: 5px; width: 50%;">宝宝昵称<span style="display: inline-block;margin-left: 50px;">{{userBaby.nickname}}</span></dd>
					<dd style=" display: inline-block; height: 50px; float: left; padding-left: 14px; padding-top: 5px; width: 50%;">生日<span style="display: inline-block;margin-left: 50px;">{{userBaby.birthday}}</span></dd>
					<dd style=" display: inline-block; height: 50px; float: left; padding-left: 14px; padding-top: 5px; width: 50%;">性别<span v-if="userBaby.gender == 1" style="display: inline-block;margin-left: 50px;">男</span><span v-if="userBaby.gender == 2" style="display: inline-block;margin-left: 50px;">女</span></dd>
				</dl>


				
    	</div>
    
    
    
    
	    <!-- 统计 -->
	    <table id="jqGridForStatistics" ></table>
	    <!--收货地址 -->
	    <table id="jqGridForAddress"></table>
	    <!--收货订单记录 -->
	    <table id="jqGridForOrder" ></table>
	</div>
</div>

<script src="../../js/modules/user/user.js"></script>
</body>
</html>