<!DOCTYPE html>
<html>
<head>
<title>主题类别</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../libs/ajaxupload.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<!--<a v-if="hasPermission(':category:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission(':category:update')" class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission(':category:delete')" class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.keyword" @keyup.enter="query" placeholder="输入进行搜索" />
			</div>
			<a class="btn btn-default" @click="query"><i class="fa fa-search">&nbsp;查询</i></a>
			<a v-if="hasPermission('category:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;添加</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
		
			<div class="form-group">
			   	<div class="col-sm-2 control-label">主题名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.title" placeholder="标题"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">二级标题</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.intro" placeholder="简介"/>
			    </div>
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-2 control-label">状态</div> 
				<label class="radio-inline">
				  <input type="radio" name="status"  value="0" v-model="category.allowDeleteFlag"/> 不能删除
				</label>
				<label class="radio-inline">
				  <input type="radio" name="status" value="1" v-model="category.allowDeleteFlag"/> 允许删除
				</label>
			</div>
			
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">分类图标</div>
			   	<div class="col-sm-10">
			   	<img alt="广告图片" v-if="category.cloudUrl == null"  :src="baseURL+'/image/audio.jpg'" id="uploadImg" style="width:50px;"/>
			   	<img alt="广告图片" v-else :src="category.cloudUrl" id="uploadImg" style="width:50px;"/>
			   	<!-- <a  class="btn btn-primary" >删除图片</a> -->
			    </div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
				<!-- 			<div class="form-group">
			   	<div class="col-sm-2 control-label">添加时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.createTime" placeholder="添加时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">更新时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.modifyTime" placeholder="更新时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">操作IP(保留0)</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.operIp" placeholder="操作IP(保留0)"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">操作用户ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.operUserId" placeholder="操作用户ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">删除标识</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.delFlag" placeholder="删除标识"/>
			    </div>
			</div>
													<div class="form-group">
			   	<div class="col-sm-2 control-label">类别的类型(1妈妈知道)</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.categoryType" placeholder="类别的类型(1妈妈知道)"/>
			    </div>
			</div>
				
									<div class="form-group">
			   	<div class="col-sm-2 control-label">显示排序</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.displayOrder" placeholder="显示排序"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">允许删除标识</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.allowDeleteFlag" placeholder="允许删除标识"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">热门标识</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.hotFlag" placeholder="热门标识"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">热门排序</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.hotOrder" placeholder="热门排序"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">信息数量</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.infoQty" placeholder="信息数量"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.memo" placeholder="备注"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态(未处_无效 已处_有效)</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="category.stateType" placeholder="状态(未处_无效 已处_有效)"/>
			    </div>
			</div> -->
							
		</form>
	</div>
</div>

<script src="../../js/modules/category/category.js"></script>
</body>
</html>